
body {
  font-family: Arial, sans-serif;  
  margin: 20px;                    
  background-color: #FCF6D9;      
  color: #333;                     
}


h1 {
  color: #301CA0;                 
  font-size: 36px;                 
  text-align: center;              
}

.form-container {
  background-color: #fff;          
  padding: 30px;                   
  border-radius: 10px;            
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0); 
  width: 80%;                      
  max-width: 400px;                
  margin: 20px auto;               
  text-align: center;              
}

input {
  width: 100%;                    
  padding: 8px;                    
  margin: 10px 0;                  
  border-radius: 4px;              
  border: 1px solid #ccc;          
}

button {
  background-color: #301CA0;
  color: white;               
  padding: 10px 20px;     
  border: none;               
  border-radius: 15px;              
  cursor: pointer;                
  font-size: 16px;                 
  width: 100%;                     
}

.result-container {
  background-color: #F9E7B2;          
  padding: 30px;                   
  border-radius: 10px;             
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  width: 80%;                      
  max-width: 400px;                
  margin: 20px auto;              
  text-align: center;            
}

.category {
  font-size: 20px;                
  font-weight: bold;              
  margin-top: 10px;                
}


a {
  display: block;                  
  margin-top: 20px;              
  text-align: center;              
  text-decoration: none;           
  color: #4CAF50;                
}

.normal {
  color: green;                    
}

.overweight {
  color: orange;                   
}

.obese {
  color: red;                      
}

.underweight {
  color: blue;                     
}

a:hover {
  color: #45a049;                  
}



@media (max-width: 768px) {
  h1 {
    font-size: 32px;
  }

  .form-container {
    width: 90%;
    padding: 25px;
  }

  input, button {
    padding: 14px;
    font-size: 18px;
  }

  .category {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 28px;
  }

  .form-container {
    width: 95%;
    padding: 20px;
  }

  input, button {
    padding: 16px;
    font-size: 20px;
  }

  .category {
    font-size: 18px;
  }

  a {
    font-size: 16px;
  }
}
